@import url("https://duncanritchie.github.io/jsChallenges/main.css");

.App {
  text-align: center;
  width:100vw;
  min-height:100vh;
  display:grid;
  justify-content:center;
  align-items:center;
  font-family: 'Alegreya', serif;
}

.calculator {
  font-family:"Helvetica",sans-serif;
  margin-top:-50px;
  width:590px;
  height:800px;
  display:grid;
  justify-content:center;
  background-color:tan;
  border-radius:15px;
  box-shadow: 0px 5px 2px rgba(92, 67, 36, 0.1);
}

.display {
  width:500px;
  margin:25px 0 5px;
  padding:25px;
  height:100px;
  background-color:beige;
  text-align:right;
  font-size:50px;
  display:grid;
  align-items:center;
  border-radius:10px;
  box-shadow: inset 0px 0px 20px rgba(92, 67, 36, 0.3);
}

.buttons {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width:550px;
  height:600px;
  font-size:30px;
}

.button {
  width: 130px;
  height:110px;
  background-color:lightcoral;
  display:grid;
  align-items:center;
  border-radius:10px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
}

.button:hover {
  background-color:lightpink
}

.button:active {
  background-color:pink;
  box-shadow: inset 0px 5px 2px rgba(0,0,0,0.1);
}

@media (max-width:590px) {
  .calculator {
    width:100vw;
    height:calc(100vw*80/59);
    border-radius:calc(100vw*15/590);
    align-items:center;
  }

  .display {
    align-self:center;
    width:calc(100vw*500/590);
    margin:calc(100vw*25/590) 0 calc(100vw*5/590);
    padding:calc(100vw*25/590);
    height:calc(100vw*100/590);
    font-size:calc(100vw*50/590);
    border-radius:calc(100vw*10/590);
    box-shadow: inset 0px 0px calc(100vw*20/590) rgba(92, 67, 36, 0.3);
  }

  .buttons {
    width:calc(100vw*550/590);
    height:calc(100vw*600/590);
    font-size:calc(100vw*30/590);
  }

  .button {
    width: calc(100vw*130/590);
    height:calc(100vw*110/590);
    border-radius:calc(100vw*10/590);
    box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
  }


}